body {
  background: url('bg2.png');
  color: #000000;
  margin: 0;
  padding: 0;
  font-weight: 200;
}
strong, a { color: #305C7A; text-decoration: none;}
section{
  width: 100%;
  margin: 40% auto 10px auto;
  text-align:center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
}
section img {
  width: 80%;
}
section article{
  margin: 40px 0;
  background: rgba(150,150,150, 0.2);
  padding: 20px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}
section article:target{
  display: block;
}

@media screen and (min-width: 500px){
  section{
    margin-top: 300px;
  }
}
@media screen and (min-width: 800px){
  section img {
    width: 50%;
  }
}
